---
layout: default
---
{% include header.html %}
<section id="header">
    <div class="headline">
        <div class="wrapper">
            <h1>Your friendly toolchain for mobile app development<br><span>on top of Apache Cordova</span></h1>
            <a class="button" href="http://npmjs.org/package/tarifa"><span></span>npm install -g tarifa</a>
        </div>
    </div>
    <div class="screen">
        <!-- adapted from Dom Briggs's css terminal: http://cssdeck.com/labs/pure-css-osx-terminal -->
        <div class="terminal">
            <div class="toolbar">
                <div class="top">
                    <div class="lights">
                        <div class="light red"></div>
                        <div class="light yellow"></div>
                        <div class="light green"></div>
                    </div>
                </div>
            </div>
            <div class="body">
                <p> <span class="red">∞</span> tarifa run ios stage --verbose <br>
                    <span class="green">★ </span> start to build the www project <br>
                    <span class="green">★ </span> prepare, launch www project build <br>
                    <span class="green">★ </span> www project build done with configuration stage <br>
                    <span class="green">★ </span> prepare, rm cordova www folder <br>
                    <span class="green">★ </span> prepare, link www project to cordova www <br>
                    <span class="green">★ </span> modifying config.xml <br>
                    <span class="green">★ </span> copied icons for platform ios <br>
                    <span class="green">★ </span> copied splash screens for platform ios <br>
                    <span class="green">★ </span> start cordova prepare <br>
                    <span class="green">★ </span> product name set to demo stage<br></p>
                <div class="cursor"></div>
            </div>
        </div>
    </div>
</section>

<section class="features first">
    <div class="wrapper">
        <div class="column_3">
            <img src="images/grind.png" />
            <h4>Build multiple apps</h4>
            <p>Produce unique apps for multiple platforms with a single project and discover the simplest way to build white-label apps with Cordova.</p>
        </div>

        <div class="column_3">
            <img src="images/stack.png" />
            <h4>Integrate your front-end build system</h4>
            <p>Integrate the tools you use to build and watch your <b>www</b> project and tarifa will call them.</p>
        </div>

        <div class="column_3">
            <img src="images/message.png" />
            <h4>Interactive project bootstrap</h4>
            <p>No need to remember everything while creating a project, tarifa will guide you and save your answers in the project files. Cordova plugin bootstrap is also in the box.</p>
        </div>
    </div>
</section>

<section class="features second">
    <div class="wrapper">
        <div class="column_3">
            <img src="images/direction.png" />
            <h4>Deploy to testers from the CLI</h4>
            <p>No need to launch a browser to upload binaries to hockeyapp.</p>
        </div>

        <div class="column_3">
            <img src="images/file.png" />
            <h4>Manage iOS provisioning files</h4>
            <p>No need to use the apple provisioning portal each time you add a new device to a provisioning file.</p>
        </div>

        <div class="column_3">
            <img src="images/device.png" />
            <h4>Available platforms</h4>
            <p>tarifa supports a subset of Cordova platforms: <b>browser</b>, <b>ios</b>, <b>android</b> and <b>windows phone 8</b>.</p>
        </div>
    </div>
</section>

<section id="documentation">
    <div class="wrapper">
        <h3>Documentation</h3>
        <div class="screen">
            <a href="https://www.gitbook.io/book/42loops/tarifa"><span></span>read tarifa-book</a>
        </div>
    </div>
</section>

<section id="blog">
    <div class="wrapper">
        <h3>Latest news</h3>
            <ul class="post-list">
                {% for post in site.posts limit:5 %}
                <li>
                    <span class="post-meta"><span class="star">★ </span>{{ post.date | date: "%b %-d, %Y" }}</span>
                    <h4><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
                </li>
                {% endfor %}
                <li>
                    <a class="all-post-link" href="/all">All posts</a>&nbsp;&nbsp;
                    <a class="all-post-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">Subscribe</a>
                </li>
            </ul>
          </table>
    </div>
</section>

<section id="getstarted">
    <div class="wrapper">
        <h3>Clone & Contribute</h3>
        <a href="http://github.com/TarifaTools/tarifa"><span></span>tarifa on github</a>
        <a href="http://github.com/TarifaTools/tarifa-book"><span></span>tarifa-book on github</a>
    </div>
</section>
