<section id="footer">
    <div class="wrapper">
        <p>Sponsors: <a href="http://zengularity.com">Zengularity</a></p>
        <p>Latest news on <a href="http://twitter.com/@tarifa_cli">@tarifa_cli</a> and let's chat on <a href="https://gitter.im/TarifaTools/tarifa">Gitter</a></p>
        <p>By <a href="http://twitter.com/@42loops">@42loops</a>, <a href="http://twitter.com/@vveloce">@vveloce</a> and <a href="http://twitter.com/@bapmrl">@bapmrl</a></p>
    </div>
</section>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35740178-1']);
    _gaq.push(['_setDomainName', 'tarifa.tools']);
    _gaq.push(['_trackPageview']);
    } catch(err) {}
</script>
