body{
    background: rgb(255, 255, 255);
    color:#A3A19C;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    padding:0;
    margin:0;
}

html, body{
    position: relative;
    height: 100%;
    width: 100%;
    color:#000;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.wrapper{
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

#header{
    position: relative;
    height: 810px;
    background: #487EC2;
    background-image: -o-linear-gradient(-134deg, #514A9D 0%, #24C6DC 100%);
    background-image: -moz-linear-gradient(-134deg, #514A9D 0%, #24C6DC 100%);
    background-image: -ms-linear-gradient(-134deg, #514A9D 0%, #24C6DC 100%);
    background-image: linear-gradient(-44deg, #514A9D 0%, #24C6DC 100%);
    overflow: hidden;
}

#header header{
    padding: 10px 0 0;
    background: transparent;
    height: 80px;
}

#header header .logo{
    margin: 0;
    float: left;
    color: white;
    margin: 0 0 0 10px;
}

#header header .logo a{
    color: #fff;
    text-decoration: none;
    position:relative;
    font-weight:bold;
    font-family: 'Alex Brush', cursive;
    font-size: 40px;
    font-weight: bold;
}

#header header .logo a span{
    position:absolute;
    top: 34px;
    right: -30px;
    color: #fff;
    text-decoration: none;
    font-family: 'Lato';
    font-size: 14px;
    line-height: 42px;
}

#header header .fork{
    margin: 18px 10px 0;
    float: right;
}

#header header .fork a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
#header header .fork a:hover{
    text-decoration: underline;
}

#header .headline p,
#header .headline h2{
    color: #fff;
    text-align: center;
    font-size: 38px;
    margin: 120px 0 20px 0;
    font-family: Lato;

    font-size: 40px;
    color: #FFFFFF;

    line-height: 60px;
}

#header .headline p{
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

#header .screen, .wrapper .screen{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 382px;
}

#header .screen, .wrapper .screen{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 382px;
}

#documentation .wrapper .screen{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 382px;
    background: url("../images/ipad2.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

#header .screen .hover, .hover{
    opacity: 1;
    max-width: 961px;
    height: 382px;
    margin: 0 auto;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    padding: 300px 0 0;
    position: relative;
    width: 90%;
    transform: translate(0,-265px);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#documentation .wrapper {
    height: 500px;
}

#documentation .hover{
    opacity: 0;
    height: 100%;
    margin: 0;
    background: rgba(0,0,0,0.54);
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0px;
    max-width: none;
    transform: translate(0,0);
}

#header .screen .hover:hover, .wrapper .screen .hover:hover,  #documentation .hover:hover{
    opacity: 1;
    padding: 0px 0 0;
}

#documentation .hover:hover{
    opacity: 1;
    padding: 350px 0 0;
}

#header a.button {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 313px;
    height: 65px;
    border-radius: 100px;
    background: #fff;
    color: #514A9D;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding: 20px 0 0;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    position: relative;
    top: 69px;
    z-index: 2;
}

#header a.button:hover{
    -moz-box-shadow:    0px 2px 14px 0px #414141;
    -webkit-box-shadow: 0px 2px 14px 0px #414141;
    box-shadow:         0px 2px 14px 0px #414141;
}

#header a.button  span{
    position: absolute;
    top: 18px;
    left: 18px;
    width: 30px;
    height: 30px;
    background-image: url("../images/logo-tarifa-small.png");
    background-size: cover;
}

#documentation .hover a{
    position: relative;
    margin: 0 auto;
    display: block;
    width: 313px;
    height: 65px;
    border-radius: 100px;
    background: #fff;
    color: #514A9D;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding: 20px 0 0;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    position: relative;
    bottom: 0px;
}

#documentation .hover a:hover{
    -moz-box-shadow:    0px 2px 14px 0px #414141;
    -webkit-box-shadow: 0px 2px 14px 0px #414141;
    box-shadow:         0px 2px 14px 0px #414141;
}

#documentation .hover a span{
    position: absolute;
    top: 18px;
    left: 18px;
    width: 30px;
    height: 30px;
    background-image: url("../images/logo-tarifa-small.png");
    background-size: cover;
}

.features{
    padding: 80px 0;
    background: rgb(255, 255, 255);
    height: 390px;
    z-index: 10;
    overflow: hidden;
}

.features.first {
    padding: 120px 0 0 0;
}

.features.second {
    padding: 0 0 120px 0;
}

.features .column_3{
    padding: 20px;
    float: left;
    width: 33.33%;
}
.features .column_3 img{
    width: 60px;
    height: 60px;
    margin: 0 0 15px 0;
}

.features .column_3 h4{
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 10px 0;
}

.features .column_3 p{
    line-height: 22px;
}

#documentation{
    padding: 80px 0;
    text-align: center;
    height: 500px;
    background: #514C9E;
    overflow: hidden;
    position: relative;
}

#documentation h3{
    color: #fff;
    margin: 0 0 75px 0;
    font-family: Lato;
    font-size: 55px;
    color: #FFFFFF;
    line-height: 60px;
}

#documentation img{
    margin: auto;
    width: 90%;
    position: absolute;
    bottom: -10px;
    position: relative;
}

#documentation .username{
    font-size: 18px;
    margin: 0 0 10px 0;
    font-weight: 600;
}

#documentation .username span{
    color: #74C0C8;
}

#documentation .message{
    max-width: 500px;
    margin: 0 auto;
    line-height: 22px;
}

#getstarted{
    padding: 80px 0 0;
    text-align: center;
    min-height: 477px;
    background: #487EC2;
    background-image: -o-linear-gradient(-134deg, #514A9D 0%, #24C6DC 100%);
    background-image: -moz-linear-gradient(-134deg, #514A9D 0%, #24C6DC 100%);
    background-image: -ms-linear-gradient(-134deg, #514A9D 0%, #24C6DC 100%);
    background-image: linear-gradient(-44deg, #514A9D 0%, #24C6DC 100%);
    margin: 0;
}

#getstarted h3{
    color: #fff;
    margin: 0 0 75px 0;
    font-size: 38px;
    font-family: Lato;
}

#getstarted a, #documentation a{
    position: relative;
    margin: 0 auto;
    display: block;
    max-width: 313px;
    height: 65px;
    border-radius: 100px;
    background: #fff;
    color: #514A9D;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 20px 0 0;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

#getstarted a:hover, #documentation a:hover{
    -moz-box-shadow:    0px 2px 14px 0px #641512;
    -webkit-box-shadow: 0px 2px 14px 0px #641512;
    box-shadow:         0px 2px 14px 0px #641512;
}

#getstarted a span, #documentation a span{
    position: absolute;
    top: 18px;
    left: 18px;
    width: 30px;
    height: 30px;
    background-image: url("../images/logo-tarifa-small.png");
    background-size: cover;
}

#getstarted .wrapper a{
    margin: 30px auto 0;
}

#documentation .wrapper a{
    margin: 170px auto 0;
}

#footer{
    color: #fff;
    height: 100px;
    background: #1F4056;
    padding: 0 20px;
}

#footer p{
    width: 33.33%;
    float: left;
    margin: 45px 0 0;
}

#footer p a{
    text-decoration: none;
    color: #74C0C8;
}

#footer p a:hover{
    text-decoration: underline;
}

#footer p:nth-child(2){
    text-align:center;
}

#footer p:nth-child(3){
    text-align: right;
}

/* terminal */
.terminal{
    width: 90%;
    margin-top:40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:40px; 
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    overflow: hidden;
    position: relative;
    bottom: -60px;
    max-width: 960px;
}

.terminal .topbar{
    width: 100%;
    height: 21px;
    font-size: 16px;
    font-family: "Myriad Pro", sans-serif;
    text-shadow:0px 1px 0px rgba(255,255,255,0.25);
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.5);
    -moz-box-shadow:0 1px 0 rgba(0,0,0,0.5);
    box-shadow:0 1px 0 rgba(0,0,0,0.5);
}

.terminal .topbar ul li {
    float: left;
    padding:0 10px;
    height: 21px;
    line-height: 24px;
}

.terminal .topbar ul li:first-child{
    font-size: 20px;
    line-height: 26px;
    margin-left: 5px;
}

.terminal .topbar ul li:nth-child(2){
    font-family: "Myriad-Semi", sans-serif;
}

.terminal .topbar ul li:active{
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(1, #4a82ff),color-stop(0, #0052fc));
    color: #fff;
    text-shadow: none;
}

.terminal .toolbar{
    width: 100%;
    height: 25px;
    background: grey;
    border-radius:5px 5px 0 0;
    background: #cfcfcf;
    background: -moz-linear-gradient(top,  #cfcfcf 0%, #a8a8a8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfcfcf), color-stop(100%,#a8a8a8));
    background: -webkit-linear-gradient(top,  #DAD9D9 0%,#B3B3B3 100%);
    background: -o-linear-gradient(top,  #cfcfcf 0%,#a8a8a8 100%);
    background: -ms-linear-gradient(top,  #cfcfcf 0%,#a8a8a8 100%);
    background: linear-gradient(top,  #cfcfcf 0%,#a8a8a8 100%);
    -webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.5) inset,0px 1px 0px #515151;
    -moz-box-shadow:0px 1px 0px rgba(255,255,255,0.5) inset,0px 1px 0px #515151;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset,0px 1px 0px #A2A2A2;
}

.terminal .toolbar .top{
    float: left;
    width: 100%;
    height: 23px;
}

.terminal .toolbar .bottom{
    float: left;
    width: 100%;
    height: 30px;
}

.terminal .toolbar .lights{
    float: left;
    position:relative;
    top: 5px;
    left:7px;
}

.terminal .light{
    float:left;
    width:14px;
    height:14px;
    border-radius:14px;
    -webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.5),0px 0px 3px #000 inset;
    -moz-box-shadow:0px 1px 0px rgba(255,255,255,0.5),0px 0px 3px #000 inset;
    box-shadow:0px 1px 0px rgba(255,255,255,0.5),0px 0px 3px #000 inset;
    overflow: hidden;
}

.terminal .light .shine{
    width: 4px;
    height:3px;
    border-radius:10px;
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

.terminal .light .glow{
    width:14px;
    height:8px; 
    background-image: -webkit-gradient(radial, center bottom, 0, center center, 5, from(rgba(255,255,255,0.75)), to(rgba(255,255,255,0)));
    background: 0px 0px -moz-radial-gradient(bottom, cover,  rgba(255,255,255,0.70) 0%, rgba(255,255,255,0) 80%); /* FF3.6+ */
}

.terminal .red{
    background: #f41b16;
    background: -moz-linear-gradient(top,  #f41b16 0%, #fc7471 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f41b16), color-stop(100%,#fc7471));
    background: -webkit-linear-gradient(top,  #f41b16 0%,#fc7471 100%);
    background: -o-linear-gradient(top,  #f41b16 0%,#fc7471 100%);
    background: -ms-linear-gradient(top,  #f41b16 0%,#fc7471 100%);
    background: linear-gradient(top,  #f41b16 0%,#fc7471 100%);
}

.terminal .red:active{
    background: #972f2e;
    background: -moz-linear-gradient(top,  #972f2e 0%, #fc7471 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#972f2e), color-stop(100%,#fc7471));
    background: -webkit-linear-gradient(top,  #972f2e 0%,#fc7471 100%);
    background: -o-linear-gradient(top,  #972f2e 0%,#fc7471 100%);
    background: -ms-linear-gradient(top,  #972f2e 0%,#fc7471 100%);
    background: linear-gradient(top,  #972f2e 0%,#fc7471 100%);
}

.terminal .yellow{
    background: #f4a316;
    background: -moz-linear-gradient(left,  #f4a316 0%, #fcc371 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f4a316), color-stop(100%,#fcc371));
    background: -webkit-linear-gradient(left,  #f4a316 0%,#fcc371 100%);
    background: -o-linear-gradient(left,  #f4a316 0%,#fcc371 100%);
    background: -ms-linear-gradient(left,  #f4a316 0%,#fcc371 100%);
    background: linear-gradient(left,  #f4a316 0%,#fcc371 100%);
    margin:0px 7px;
}

.terminal .yellow:active{
    background: #ae4f1e;
    background: -moz-linear-gradient(top,  #ae4f1e 0%, #fcc371 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ae4f1e), color-stop(100%,#fcc371));
    background: -webkit-linear-gradient(top,  #ae4f1e 0%,#fcc371 100%);
    background: -o-linear-gradient(top,  #ae4f1e 0%,#fcc371 100%);
    background: -ms-linear-gradient(top,  #ae4f1e 0%,#fcc371 100%);
    background: linear-gradient(top,  #ae4f1e 0%,#fcc371 100%);
}

.terminal .green{
    background: #4cae2e;
    background: -moz-linear-gradient(top,  #4cae2e 0%, #dafc71 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4cae2e), color-stop(100%,#dafc71));
    background: -webkit-linear-gradient(top,  #4cae2e 0%,#dafc71 100%);
    background: -o-linear-gradient(top,  #4cae2e 0%,#dafc71 100%);
    background: -ms-linear-gradient(top,  #4cae2e 0%,#dafc71 100%);
    background: linear-gradient(top,  #4cae2e 0%,#dafc71 100%);
}

.terminal .green:active{
    background: #48752b;
    background: -moz-linear-gradient(top,  #48752b 0%, #dafc71 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#48752b), color-stop(100%,#dafc71));
    background: -webkit-linear-gradient(top,  #48752b 0%,#dafc71 100%);
    background: -o-linear-gradient(top,  #48752b 0%,#dafc71 100%);
    background: -ms-linear-gradient(top,  #48752b 0%,#dafc71 100%);
    background: linear-gradient(top,  #48752b 0%,#dafc71 100%);
}

.terminal .body {
    font-family: Andale Mono, monospace;  line-height: 1em;
    font-size:13px;
    float: left;
    width: 100%;
    min-height:130px;
    background: rgba(0, 0, 0, 0.07);
    padding:10px;
    line-height:1.5em;
}

.terminal .body p {
    color: #1D1D1D!important;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow:    ellipsis;
}

@keyframes blink
{
    0%   {  background:rgba(29,29,0,100);  }
    100% {  background:rgba(29,29,0,0);  }
}

@-webkit-keyframes blink {
    0%   {  background:rgba(29,29,0,100);  }
    100% {  background:rgba(29,29,0,0);  }
}

@-moz-keyframes blink {
    0%   {  background:rgba(29,29,0,100);  }
    100% {  background:rgba(29,29,0,0);  }
}

.terminal .cursor {
    background: #E2E2E2;
    display:inline-block;
    width:11px;
    height:19px;
    margin-bottom:-3px;
}

.terminal .body:hover .cursor {
    -webkit-animation-name: blink;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-duration: 1.5s;
    -moz-animation-iteration-count: infinite;
}

.terminal .body p::-webkit-selection  {
    background:#0b209e;
}

.terminal .body p::selection { background:#0b209e; }

.terminal .body p::-moz-selection { background:#0b209e; }

.terminal .body p {
    margin-top:5px;
    margin-bottom:5px;
    font-size:13px;
}

.terminal .body .red {
    color:red;
    background:none;
}

.terminal .body .green {
    color:green;
    background:none;
}

@media (max-width: 768px){
    #header .headline p {
        margin: 50px 0 20px 0;
    }
    .features {
        overflow: none;
        height: initial;
        padding: 0;
    }
    .features.first, .features.second {
        overflow: inherit;
        padding: 0;
        margin: 20px;
    }
    .features.first {
        margin: 30px 20px 20px 20px;
    }
    .features .column_3 {
        float:none;
        margin: auto;
        margin: 20px 20px 30px 20px;
        padding: 0;
        width: inherit;
    }

    #documentation h3 {
        font-size: 38px;
    }

    #documentation .wrapper .screen {
        background:none;
    }
    #documentation .wrapper .screen a{
        margin: 50px auto 0;
    }

    #footer {
        height: 120px;
    }

    #footer p {
        width: 100%;
        float:none;
        margin: 0;
        text-align: center;
        padding: 20px 0 0 0;
    }

    #footer p:nth-child(3) {
        text-align:center;
    }

    #header .headline p, #header .headline h2 {
        margin: 30px 0 20px 0;
    }

    #header a.button {
        top: 10px;
    }
}
